$fa-font-path: font-path('../fonts');

$main-color: #67e0ce;
$darker-main-color: darken($main-color, 10%);
$lighter-main-color: lighten($main-color, 10%);

// Import Lato font
@import url(//fonts.googleapis.com/css?family=Lato:300,700);

// Some of Bootstrap
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//variables';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//mixins';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//normalize';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//print';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//glyphicons';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//scaffolding';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//type';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//code';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//grid';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//tables';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//forms';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap//buttons';

// Font Awesome
@import 'font-awesome/scss/font-awesome';

// Add column > xs and < sm width to bootstrap
@import 'vendor/bootstrap_ms';
// Add col-*-15 for 5 column grid
@import 'vendor/bootstrap_15';
