@import 'variables_and_imports';
@import 'components/header_footer';
@import 'components/featured-line';

body {
  background: $main-color;
  color: #FFFFFF;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 300;
}

a {
  @include transition(all 0.3s 0s ease-in-out);
  @include animation-direction(alternate);
  text-decoration: none;
  padding: 3px;
  background: $lighter-main-color;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
    background: $darker-main-color;
  }
  &:focus {
    color: #FFFFFF;
    text-decoration: none;
  }
  &.no-link {
    background: none;
    padding: 0;
  }
}

.startups-list {
  padding-bottom: 80px;

  .startup-item {
    margin-bottom: 20px;
  }
  .startup-item {
    position: relative;
    float: left;
    // padding: 20px;
  }
  .startup-item a {
    display: block;
    background: none;
  }
  .startup-item a img {
    @include transition(all 0.3s 0s ease-in-out);
    @include animation-direction(alternate);
  }
  .startup-item a > div {
    @include transition(all 0.3s 0s ease-in-out);
    @include animation-direction(alternate);
    @include opacity(0);

    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 15px;
    bottom: 5px;
    right: 15px;
    background: rgba(0, 0, 0, 0.3);
  }
  .startup-item a > div h3 {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0;

    @include translate(0,-50%);
  }
  .startup-item a:hover img {
    @include opacity(0.2);
    @include scale(0.95);
  }
  .startup-item a:hover > div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    @include opacity(1);
    visibility: visible;
  }
}

.join-box{
  a.join-the-list {
    font-size: 2em;
    padding: 15px;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 0.188em;
    -moz-border-radius: 0.188em;
    border-radius: 0.188em;
    background: $main-color;
    &:hover {
      color: $main-color;
      background: #FFF;
      text-decoration: none;
    }
  }
}

