.featured-line {
  margin: 10px 0 10px;
  border-top: 1px solid #FFFFFF;
  text-align: center;
  @include opacity(0.60);
}

.featured-title {
  position: relative;
  background-color: $main-color;
  border: 1px solid #FFFFFF;
  font-size: 0.8em;
  padding: 8px;
  top: -1.5em;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 0.250em;
  -moz-border-radius: 0.250em;
  border-radius: 0.250em;
}

.line-note {
  padding-top: 20px;
  padding-bottom: 40px;
}
