<div class="row text-center join-box">
  <a class="no-link" name="join"></a>
  <div class="col-md-12">
    <p><b>What do all these companies have in common?</b></p>
    <p>1) They were founded in Palestine in the 21st century</p>
    <p>2) They have the ambition to transform their industry</p>
    <p>3) Their teams make <b>hummus</b> as easy as ABC</p>
  </div>

  <div class="col-md-12">
    <p><strong>Does your startup meet these criteria and do you want to support this initiative?</strong></p>
    <p>Submit your Palestinian startup by filling out the <a class="typeform-share" href="https://foundedinpalestine.typeform.com/to/ZrCuRZ" data-mode="2" target="_blank">application form</a>.</p>
  </div>

  <div class="col-md-12">
    <a class="typeform-share join-the-list" href="https://foundedinpalestine.typeform.com/to/ZrCuRZ" data-mode="2" target="_blank">Join the list</a></p>
  </div>
</div>

<div class="row text-center footer">
  <div class="col-md-12">
    <!-- <p class="social-follow">Follow on <a href="" class="fa fa-facebook-square" target="_blank">&nbsp;Facebook</a> &amp; <a href="" class="fa fa-twitter-square" target="_blank">&nbsp;Twitter</a></p> -->

    <div class="fb-like" data-href="http://www.foundedinpalestine.com" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom:-20px; padding:5px;"></div>

    <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.foundedinpalestine.com" data-via="foundedinpalestine" data-count="none" data-dnt="true">Tweet</a></div>
  </div>

  <div class="col-md-12">
    <p>Brought to you by <%= link_to 'Founded in Palestine Team', '/' %>.<br />All the logos and trademarks used on this website belong to its rightful owner.</p>
  </div>

  <div class="col-md-12">
    <% link_to 'http://foundedx.com?ref=fip', target: '_blank', class: 'foundedx-badge' do%>
      <%= image_tag 'foundedx-badge.png' %>
    <% end %>
  </div>
</div>
