<header class="row">
  <div class="col-md-12 text-center logo">
    <% link_to 'http://www.foundedinpalestine.com/?ref=hdr' do %>
      <h1>Founded in Palestine</h1>
    <% end %>
  </div>

  <div class="col-md-8 col-md-offset-2 text-center">
    <p>Palestinians are no strangers to struggle. It is part of their everyday lives.<br/>They love challenges, they are always determined to reach their goals. That is why they have the perfect entrepreneurial DNA.<br />Part of the global <a href="http://foundedx.com/" target="_blank">Founded X</a> community, this list is a tribute to innovative startups that are proud of their Palestinian roots.</p>
  </div>

  <div class="col-md-8 col-md-offset-2 text-center line-note">
    <strong>Want to join this list?</strong> <a href="#join">Submit your Palestinian startup</a>!
  </div>
</header>
